.caro{
    padding-top: 110px;
  
}
.car1{
    height: 190px;
    width:340px;
}

/*desktop*/
@media screen and (min-width: 1080px){
    .car1{
        height: 330px;
        width:600px;
    }
    .caro{
        padding-top: 110px;
      
    }
    
    
    
    
    }