.discount{
    width: 40%;

   
    color: #FCB800;
}
.paragraph{
    font-weight: bold;
}
.card001{
    width: 40%;
   
    color: #FCB800;
}
.delivery{
  
    width: 40%;
   
}
.roww{
    padding-top: 45px;
    padding-left: 100px;
}
/*desktop*/
@media screen and (min-width: 1000px){
    .roww{
        padding-top: 75px;
        padding-right: 150px;
        padding-bottom: 35px
    }
   
    .discount{
        width: 20%;
    
       
        color: #FCB800;
    }
    .paragraph{
        font-weight: bold;
    }
    .card001{
        width: 20%;
       
        color: #FCB800;
    }
    .delivery{
      
        width: 20%;
       
    }
    
    
    }