.discount{
    width: 20%;
    height: 20%;
    padding-top: 45px;
    color: #FCB800;
}
.paragraph{
    font-weight: bold;
}
.card01{
    width: 20%;
    height: 20%;
    padding-top: 45px;
    color: #FCB800;
}
.delivery{
    padding-top: 45px;
    width: 20%;
    height: 20%;
}