.caro1{
    width: 172px;
    height: 270px;
}
.ver{
  margin-top: 30px;
  margin-bottom: 25px;
}
.title{
 color: #ffca2c;

}
h2{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 22px;
}